
#registerAnime{
    padding: 20px;
    background-color: rgba(74, 74, 74, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    grid-area: main;
}
#registerAnime p{
    margin-top: 10px;
}
#animename{
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}
#episodes{
margin-top: 10px;;
border-radius: 5px;
border: none;
}
#score{
margin-top: 10px;
border-radius: 5px;
border: none;
}
#animename:hover, #episodes:hover, #score:hover{
    margin-left: 8px;
    transition: 0.2s;
}
#add{
margin-top: 10px;
padding: 5px 20px;
border: none;
border-radius: 10px;
background-color: #0043a0;
color: white;
}
#add:hover{
    background-color: #9EB7FF;
}
