*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    height: 100vh;

    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "side1 main side2"
    "footer footer footer";

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: radial-gradient(circle at 67% 83%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),radial-gradient(circle at 24% 80%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 23% 5%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at 21% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 10% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),radial-gradient(circle at 19% 61%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 13% 77%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),radial-gradient(circle at 30% 93%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),linear-gradient(90deg, rgb(22, 176, 207),rgb(103, 7, 215));
}
main{
    grid-area: main;
}
header{
  grid-area: header;
}
footer{
  grid-area: footer;
  text-align: center;
  margin: auto;
}
.side1{
  grid-area: side1;
}
.side2{
  grid-area: side2;
}
#loginform{
      background-color: rgba(74, 74, 74, 0.2);
      backdrop-filter: blur(40px);
      width: 25%;
      margin: auto;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#loginform h3{
      margin-bottom: 30px;
      text-shadow: 2px 2px 4px #000000;
}
#username, #password{
      border: none;
      border-radius: 10px;
      width: 100%;
      margin-bottom: 30px;
}
#username:hover, #password:hover{
  border-style: solid;
  border-color: #2364be;
}
#login{
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #2364be;
    color: white;
    padding: 3px;
}
#login:hover{
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
}
#newuser{
    width: 25%;
    margin: auto;
    padding: 30px;
}
.error{
    grid-area: main;
    width: 50%;
    margin-top: 60%;
    margin-left: 32%;
    color: rgb(255, 65, 65);
    text-shadow: 2px 2px 4px #161616;
}

@media(max-width: 900px) {
  .container {
      display: grid;
      height: 100vh;
  
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 0.1fr 1.6fr 0.1fr;
      grid-template-areas:
      "header"
      "nav"
      "main"
      "footer";
  
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      background-image: radial-gradient(circle at 67% 83%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),radial-gradient(circle at 24% 80%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 23% 5%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at 21% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 10% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),radial-gradient(circle at 19% 61%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 13% 77%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),radial-gradient(circle at 30% 93%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),linear-gradient(90deg, rgb(22, 176, 207),rgb(103, 7, 215));
  }
}