*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    height: 100vh;

    grid-template-columns:0.5fr 1fr 0.5fr;
    grid-template-rows: 0.1fr 1.6fr 0.1fr;
    grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";

    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: radial-gradient(circle at 67% 83%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),radial-gradient(circle at 24% 80%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 23% 5%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at 21% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 10% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),radial-gradient(circle at 19% 61%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 13% 77%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),radial-gradient(circle at 30% 93%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),linear-gradient(90deg, rgb(22, 176, 207),rgb(103, 7, 215));
}
header{
        background-color: rgba(74, 74, 74, 0.2);
        backdrop-filter: blur(40px);
        grid-area: header;
        display: flex;
        align-items: center;
        padding: 10px;
        z-index: 999;
}
.logoCol {
    display: flex;
    align-items: center;
    flex-basis: 100%;
}
.logoCol h1{
          float: left;
          padding: 0 10px;
}
.logo img{
    clip-path: circle();
    max-width:  35px;
    height: auto;
    float: left;
}
nav ul{
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: right;
    height: 100%;
}
nav ul li{
    list-style-type: none;   
}
nav ul a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: block;
}
nav a:hover{
    padding-top: 5px;
    color: rgb(180, 180, 180);
    transition: 0.25s;
}
#navToggle{
    position: absolute;
    display: none;
}
.burger {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.burger .line {
    width: 30px;
    height: 5px;
    background-color: white;
    margin: 5px;
}
.addAnime{
    text-decoration: none;
    color: white;
}
.deleteAnime{
    color: white;
    text-decoration: none;
}
main{
    grid-area: main;
}
footer{
       background-color: rgba(74, 74, 74, 0.2);
       backdrop-filter: blur(40px);
       grid-area: footer;
       padding: 15px;
       z-index: 999;
}
.footerWrap {
       display: flex;
       align-items: center;
       justify-content: center;
}
.footerWrap h3 {
    padding: 5px 20px;
   
}
.github img {
    height: 25px;
    width: 25px;
}
.github {
    padding: 5px 20px;
    position: relative;
}
.github::after{
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;

    position: absolute;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease-in;
}
.github:hover::after {
    transform: scaleX(1);
}
.infoSecurity {
    text-decoration: none;
    list-style: none;
    padding: 5px 20px;
}
.infoSecurity li a {
    color: white;
    font-weight: lighter;
    text-decoration: none;
}
.infoSecurity li a:hover {
    text-decoration: underline;
}
.animeTable {
      padding: 5px;
      width: 50vw;
      margin: auto;
}
.animeTable  tr{
         background-color: rgba(74, 74, 74, 0.2);
         backdrop-filter: blur(40px);
}
.animeTable  td{
       padding: 4px;
       border-radius: 5px;
}
.animeTable  th{
    padding: 4px;
    border-radius: 5px;
}
.Msg{
    padding: 5px 5px;
    width: 300px;
    margin: auto;
}
@media(max-width: 900px) {
    .container {
        display: grid;
        height: 100vh;
    
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr  1.6fr 0.1fr;
        grid-template-areas:
        "header"
        "main"
        "footer";
    
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background-image: radial-gradient(circle at 67% 83%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),radial-gradient(circle at 24% 80%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 23% 5%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at 21% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 10% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),radial-gradient(circle at 19% 61%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 13% 77%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),radial-gradient(circle at 30% 93%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),linear-gradient(90deg, rgb(22, 176, 207),rgb(103, 7, 215));
    }
    .logoCol h1{
        float: left;
        padding: 0 10px;
        font-size: 4vw;
    }
    .animeTable{
        padding: 5px;
        width: 100vw;
    }
    .footerWrap h3 {
        padding: 5px 20px;
        font-size: 3vw;
    }
}
@media(max-width: 1030px) {
    .container {
        display: grid;
        height: 100vh;
    
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr  1.6fr 0.1fr;
        grid-template-areas:
        "header"
        "main"
        "footer";
    
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background-image: radial-gradient(circle at 67% 83%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),radial-gradient(circle at 24% 80%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 23% 5%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at 21% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 10% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),radial-gradient(circle at 19% 61%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 13% 77%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),radial-gradient(circle at 30% 93%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),linear-gradient(90deg, rgb(22, 176, 207),rgb(103, 7, 215));
    }
    nav ul {
        position: absolute;
        width: auto;
        height: 30em;
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;

        grid-area: main;
        float: none;
        flex-direction: column;

        background-color: rgba(54, 54, 54, 1);
    }
    nav a:hover {
        border-radius: 5px;
        background: rgb(37, 37, 37);
        padding: 10px;
        color: white;
        transition: 0.25s ease-in;
    }
    header :checked ~ nav {
        display: none;  
    }
    .burger {
        display: block;
    }
}